In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import os
from math import sqrt

In [2]:
import pandas as pd

In [3]:
nome_de_instancias = os.listdir("./EEG_Machine_Learning/")
nome_de_instancias

['acertos_sujeito_1.csv',
 'acertos_sujeito_2.csv',
 'acertos_sujeito_3.csv',
 'acertos_sujeito_4.csv',
 'acertos_sujeito_5.csv',
 'acertos_sujeito_6.csv',
 'acertos_sujeito_7.csv',
 'erros_sujeito_1.csv',
 'erros_sujeito_2.csv',
 'erros_sujeito_3.csv',
 'erros_sujeito_4.csv',
 'erros_sujeito_5.csv',
 'erros_sujeito_6.csv',
 'erros_sujeito_7.csv',
 'Explicação.JPG',
 'frequências.csv',
 'tempos.csv']

In [4]:
acertos = []
erros = []
for i in range(7):
    acertos.append("./EEG_Machine_Learning/" + nome_de_instancias[i])
    erros.append("./EEG_Machine_Learning/" + nome_de_instancias[7 + i])

In [5]:
acertos, erros

(['./EEG_Machine_Learning/acertos_sujeito_1.csv',
  './EEG_Machine_Learning/acertos_sujeito_2.csv',
  './EEG_Machine_Learning/acertos_sujeito_3.csv',
  './EEG_Machine_Learning/acertos_sujeito_4.csv',
  './EEG_Machine_Learning/acertos_sujeito_5.csv',
  './EEG_Machine_Learning/acertos_sujeito_6.csv',
  './EEG_Machine_Learning/acertos_sujeito_7.csv'],
 ['./EEG_Machine_Learning/erros_sujeito_1.csv',
  './EEG_Machine_Learning/erros_sujeito_2.csv',
  './EEG_Machine_Learning/erros_sujeito_3.csv',
  './EEG_Machine_Learning/erros_sujeito_4.csv',
  './EEG_Machine_Learning/erros_sujeito_5.csv',
  './EEG_Machine_Learning/erros_sujeito_6.csv',
  './EEG_Machine_Learning/erros_sujeito_7.csv'])

In [27]:
dataset_sujeito1_acertos = pd.read_csv(acertos[0], header=None)

In [28]:
dataset_sujeito1_acertos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Columns: 61050 entries, 0 to 61049
dtypes: float64(60341), int64(709)
memory usage: 93.2 MB

# Adicionando uma coluna chamada y no final da dataset, considerando que y é os acertos == 1

In [29]:
dataset_sujeito1_acertos.insert(61050, "y", [1 for i in range(200)])

In [30]:
dataset_sujeito1_acertos.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,61041,61042,61043,61044,61045,61046,61047,61048,61049,y
198,294800.0,239080.0,187360.0,141290.0,102160.0,70457.0,46156.0,29034.0,18499.0,13866.0,...,2676.5,14353.0,16057.0,676.96,23396.0,10872.0,1490.4,39833.0,78535.0,1
199,291110.0,237100.0,186500.0,141270.0,102770.0,71580.0,47712.0,30860.0,20447.0,15844.0,...,2776.4,14047.0,16497.0,1121.50,23249.0,9840.2,2175.1,39812.0,77100.0,1

# Realizando a mesma coisa, com a tabela de erros do sujeito 1

In [36]:
dataset_sujeito1_erros = pd.read_csv(erros[0], header=None)

In [37]:
dataset_sujeito1_erros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Columns: 61050 entries, 0 to 61049
dtypes: float64(60388), int64(662)
memory usage: 93.2 MB

# Adicionando uma coluna chamada y no final da dataset, considerando que y   é erros == 0

In [38]:
dataset_sujeito1_erros.insert(61050, "y", [0 for i in range(200)])

In [39]:
dataset_sujeito1_erros.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,61041,61042,61043,61044,61045,61046,61047,61048,61049,y
198,36201.0,18307.0,7888.7,4254.3,6540.6,14729.0,30880.0,60106.0,109850.0,187790.0,...,80243.0,103930.0,62724.0,16285.0,14298.0,75997.0,69035.0,31203.0,13311.0,0
199,36255.0,17826.0,6949.6,3088.5,5505.9,14265.0,31525.0,62373.0,114240.0,194640.0,...,81836.0,103750.0,59483.0,13776.0,11769.0,73896.0,65869.0,27863.0,10841.0,0

# Unindo os erros com os acertos

In [49]:
dataset_sujeito1_acertos_erros = dataset_sujeito1_acertos.append(dataset_sujeito1_erros, ignore_index=True)

In [50]:
dataset_sujeito1_acertos_erros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 61051 entries, 0 to y
dtypes: float64(61030), int64(21)
memory usage: 186.3 MB

In [51]:
dataset_sujeito1_acertos_erros.tail(205).head(10)

,0,1,2,3,4,5,6,7,8,9,...,61041,61042,61043,61044,61045,61046,61047,61048,61049,y
195,301840.0,242660.0,188630.0,140950.0,100420.0,67514.0,42370.0,24659.0,13852.0,9225.7,...,2367.5,15087.0,15799.0,1022.50,24729.0,13779.0,230.81,39910.00,80428.0,1
196,300050.0,241840.0,188370.0,141110.0,100980.0,68402.0,43476.0,25926.0,15217.0,10562.0,...,2456.8,14901.0,15730.0,695.92,24180.0,12901.0,506.90,39847.00,80049.0,1
197,297220.0,240400.0,187850.0,141260.0,101680.0,69580.0,44995.0,27680.0,17069.0,12437.0,...,2581.1,14607.0,15835.0,562.51,23655.0,11733.0,1021.30,39837.00,79279.0,1
198,294800.0,239080.0,187360.0,141290.0,102160.0,70457.0,46156.0,29034.0,18499.0,13866.0,...,2676.5,14353.0,16057.0,676.96,23396.0,10872.0,1490.40,39833.00,78535.0,1
199,291110.0,237100.0,186500.0,141270.0,102770.0,71580.0,47712.0,30860.0,20447.0,15844.0,...,2776.4,14047.0,16497.0,1121.50,23249.0,9840.2,2175.10,39812.00,77100.0,1
200,498470.0,332970.0,206900.0,116760.0,60018.0,36551.0,48726.0,100770.0,196600.0,337630.0,...,196120.0,158650.0,78389.0,35573.00,40533.0,55222.0,28279.00,2578.30,5557.0,0
201,523900.0,353750.0,223510.0,129770.0,70596.0,45880.0,57884.0,110460.0,207140.0,348420.0,...,193130.0,156020.0,76951.0,34562.00,40123.0,55283.0,28184.00,2110.90,6000.5,0
202,550610.0,375760.0,241300.0,144060.0,82481.0,56456.0,68228.0,121250.0,218530.0,359860.0,...,189690.0,152950.0,75266.0,33282.00,39567.0,55192.0,28118.00,1678.90,6407.6,0
203,588070.0,406850.0,266830.0,165220.0,100370.0,72605.0,83908.0,137360.0,235090.0,376020.0,...,184220.0,148500.0,72808.0,31184.00,38628.0,54880.0,28006.00,1153.20,6966.0,0
204,617310.0,431770.0,287490.0,182570.0,115380.0,86251.0,97144.0,150760.0,248560.0,388960.0,...,179560.0,144840.0,70717.0,29331.00,37733.0,54540.0,27943.00,809.29,7394.1,0

In [71]:
dataset_sujeito1_acertos_erros.loc[:,1] #.tail(205).head(10)

0      1092400.0
1      1052500.0
2      1013800.0
3       964070.0
4       928170.0
5       893780.0
6       850090.0
7       818900.0
8       789160.0
9       751610.0
10      724860.0
11      699270.0
12      667400.0
13      644850.0
14      623810.0
15      597820.0
16      579770.0
17      563140.0
18      542580.0
19      528350.0
20      514990.0
21      498700.0
22      487730.0
23      477800.0
24      465900.0
25      458350.0
26      451740.0
27      444290.0
28      439780.0
29      435990.0
         ...
370      46750.0
371      45766.0
372      44777.0
373      43471.0
374      42486.0
375      41486.0
376      40158.0
377      39176.0
378      38219.0
379      36959.0
380      36019.0
381      35054.0
382      33851.0
383      32901.0
384      31966.0
385      30699.0
386      29748.0
387      28799.0
388      27521.0
389      26548.0
390      25612.0
391      24329.0
392      23347.0
393      22391.0
394      21193.0
395      20388.0
396      19655.0
397      18813.0
398      18307.0
399      17826.0
Name: 1, Length: 400, dtype: float64

sb.heatmap(dataset)

In [ ]:
dataset.head(5)

In [ ]:
plt.imshow(dataset, cmap='hot', interpolation='nearest')
plt.show()