# Importando as bibilotecas

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
try:
    import keras
except ImportError:
    raise ImportError("Instale keras")

Using TensorFlow backend.

In [2]:
nome_de_instancias = os.listdir("./EEG_Machine_Learning/")
nome_de_instancias

['acertos_sujeito_1.csv',
 'acertos_sujeito_2.csv',
 'acertos_sujeito_3.csv',
 'acertos_sujeito_4.csv',
 'acertos_sujeito_5.csv',
 'acertos_sujeito_6.csv',
 'acertos_sujeito_7.csv',
 'erros_sujeito_1.csv',
 'erros_sujeito_2.csv',
 'erros_sujeito_3.csv',
 'erros_sujeito_4.csv',
 'erros_sujeito_5.csv',
 'erros_sujeito_6.csv',
 'erros_sujeito_7.csv',
 'Explicação.JPG',
 'frequências.csv',
 'tempos.csv']

In [3]:
acertos = []
erros = []
for i in range(7):
    acertos.append("./EEG_Machine_Learning/" + nome_de_instancias[i])
    erros.append("./EEG_Machine_Learning/" + nome_de_instancias[7 + i])

In [4]:
acertos, erros

(['./EEG_Machine_Learning/acertos_sujeito_1.csv',
  './EEG_Machine_Learning/acertos_sujeito_2.csv',
  './EEG_Machine_Learning/acertos_sujeito_3.csv',
  './EEG_Machine_Learning/acertos_sujeito_4.csv',
  './EEG_Machine_Learning/acertos_sujeito_5.csv',
  './EEG_Machine_Learning/acertos_sujeito_6.csv',
  './EEG_Machine_Learning/acertos_sujeito_7.csv'],
 ['./EEG_Machine_Learning/erros_sujeito_1.csv',
  './EEG_Machine_Learning/erros_sujeito_2.csv',
  './EEG_Machine_Learning/erros_sujeito_3.csv',
  './EEG_Machine_Learning/erros_sujeito_4.csv',
  './EEG_Machine_Learning/erros_sujeito_5.csv',
  './EEG_Machine_Learning/erros_sujeito_6.csv',
  './EEG_Machine_Learning/erros_sujeito_7.csv'])

In [5]:
dataset_sujeito1_acertos = pd.read_csv(acertos[0], header=None)

In [6]:
dataset_sujeito1_acertos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Columns: 61050 entries, 0 to 61049
dtypes: float64(60341), int64(709)
memory usage: 93.2 MB

# Adicionando uma coluna chamada y no final da dataset, considerando que y é os acertos == 1

In [7]:
dataset_sujeito1_acertos.insert(61050, "y", [1 for i in range(200)])

In [8]:
dataset_sujeito1_acertos.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,61041,61042,61043,61044,61045,61046,61047,61048,61049,y
198,294800.0,239080.0,187360.0,141290.0,102160.0,70457.0,46156.0,29034.0,18499.0,13866.0,...,2676.5,14353.0,16057.0,676.96,23396.0,10872.0,1490.4,39833.0,78535.0,1
199,291110.0,237100.0,186500.0,141270.0,102770.0,71580.0,47712.0,30860.0,20447.0,15844.0,...,2776.4,14047.0,16497.0,1121.50,23249.0,9840.2,2175.1,39812.0,77100.0,1

# Realizando a mesma coisa, com a tabela de erros do sujeito 1

In [9]:
dataset_sujeito1_erros = pd.read_csv(erros[0], header=None)

In [10]:
dataset_sujeito1_erros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Columns: 61050 entries, 0 to 61049
dtypes: float64(60388), int64(662)
memory usage: 93.2 MB

# Adicionando uma coluna chamada y no final da dataset, considerando que y   é erros == 0

In [11]:
dataset_sujeito1_erros.insert(61050, "y", [0 for i in range(200)])

In [12]:
dataset_sujeito1_erros.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,61041,61042,61043,61044,61045,61046,61047,61048,61049,y
198,36201.0,18307.0,7888.7,4254.3,6540.6,14729.0,30880.0,60106.0,109850.0,187790.0,...,80243.0,103930.0,62724.0,16285.0,14298.0,75997.0,69035.0,31203.0,13311.0,0
199,36255.0,17826.0,6949.6,3088.5,5505.9,14265.0,31525.0,62373.0,114240.0,194640.0,...,81836.0,103750.0,59483.0,13776.0,11769.0,73896.0,65869.0,27863.0,10841.0,0

# Unindo os erros com os acertos

In [13]:
dataset_sujeito1_acertos_erros = dataset_sujeito1_acertos.append(dataset_sujeito1_erros, ignore_index=True)

In [14]:
dataset_sujeito1_acertos_erros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Columns: 61051 entries, 0 to y
dtypes: float64(61030), int64(21)
memory usage: 186.3 MB

In [15]:
dataset_sujeito1_acertos_erros.tail(205).head(10)

,0,1,2,3,4,5,6,7,8,9,...,61041,61042,61043,61044,61045,61046,61047,61048,61049,y
195,301840.0,242660.0,188630.0,140950.0,100420.0,67514.0,42370.0,24659.0,13852.0,9225.7,...,2367.5,15087.0,15799.0,1022.50,24729.0,13779.0,230.81,39910.00,80428.0,1
196,300050.0,241840.0,188370.0,141110.0,100980.0,68402.0,43476.0,25926.0,15217.0,10562.0,...,2456.8,14901.0,15730.0,695.92,24180.0,12901.0,506.90,39847.00,80049.0,1
197,297220.0,240400.0,187850.0,141260.0,101680.0,69580.0,44995.0,27680.0,17069.0,12437.0,...,2581.1,14607.0,15835.0,562.51,23655.0,11733.0,1021.30,39837.00,79279.0,1
198,294800.0,239080.0,187360.0,141290.0,102160.0,70457.0,46156.0,29034.0,18499.0,13866.0,...,2676.5,14353.0,16057.0,676.96,23396.0,10872.0,1490.40,39833.00,78535.0,1
199,291110.0,237100.0,186500.0,141270.0,102770.0,71580.0,47712.0,30860.0,20447.0,15844.0,...,2776.4,14047.0,16497.0,1121.50,23249.0,9840.2,2175.10,39812.00,77100.0,1
200,498470.0,332970.0,206900.0,116760.0,60018.0,36551.0,48726.0,100770.0,196600.0,337630.0,...,196120.0,158650.0,78389.0,35573.00,40533.0,55222.0,28279.00,2578.30,5557.0,0
201,523900.0,353750.0,223510.0,129770.0,70596.0,45880.0,57884.0,110460.0,207140.0,348420.0,...,193130.0,156020.0,76951.0,34562.00,40123.0,55283.0,28184.00,2110.90,6000.5,0
202,550610.0,375760.0,241300.0,144060.0,82481.0,56456.0,68228.0,121250.0,218530.0,359860.0,...,189690.0,152950.0,75266.0,33282.00,39567.0,55192.0,28118.00,1678.90,6407.6,0
203,588070.0,406850.0,266830.0,165220.0,100370.0,72605.0,83908.0,137360.0,235090.0,376020.0,...,184220.0,148500.0,72808.0,31184.00,38628.0,54880.0,28006.00,1153.20,6966.0,0
204,617310.0,431770.0,287490.0,182570.0,115380.0,86251.0,97144.0,150760.0,248560.0,388960.0,...,179560.0,144840.0,70717.0,29331.00,37733.0,54540.0,27943.00,809.29,7394.1,0

In [16]:
X = dataset_sujeito1_acertos_erros.iloc[:, :-1].values
y = dataset_sujeito1_acertos_erros.iloc[:, -1].values
y, y.shape

(array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0]), (400,))

# One Hot Encoding

In [17]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# define example
data = np.array(y)
values = np.array(data)
print("Values: ", values, values.shape)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print("integer_encoded:", integer_encoded, integer_encoded.shape)
# binary encode
onehot_encoder = OneHotEncoder(categories="auto", sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print("onehot_encoded:", onehot_encoded,  onehot_encoded.shape)
# invert first example
inverted = label_encoder.inverse_transform([np.argmax(onehot_encoded[0, :])])
print("inverted:", inverted)

Values:  [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0] (400,)
integer_encoded: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0] (400,)
onehot_encoded: [[0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]] (400, 2)
inverted: [1]

In [18]:
print(onehot_encoded[4], values[4])
print(onehot_encoded[43], values[43])
print(onehot_encoded[200], values[200])

[0. 1.] 1
[0. 1.] 1
[1. 0.] 0

# Separando dataset em treinamento e teste

In [19]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, onehot_encoded, test_size = 0.2)

In [20]:
y_test.shape , y_train.shape

((80, 2), (320, 2))

# Rodando Keras

In [21]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense, Flatten, Dropout
from keras.callbacks import TensorBoard
from keras.utils import plot_model, print_summary
import datetime

In [22]:
#Inicializando a Rede Neural
classifier = Sequential()
# Adicionando a camada inicial
classifier.add(Dense(1024, activation="relu", name="Input_1"))

# Prevent Overfitting
#classifier.add(Dropout(0.01))

# Adding the input layer and the first hidden layer
classifier.add(Dense(1024, activation="tanh", name="Hidden_1_tanh"))

classifier.add(Dense(128, activation="relu", name="Hiddden_2_relu"))

# Adding the output layer
classifier.add(Dense(2, activation="softmax", name="Output_softmax"))

In [23]:
# Compiling Neural Network
classifier.compile(optimizer = 'adam',
                   loss = 'categorical_crossentropy',
                   metrics = ['accuracy', ])

In [24]:
name_logs = "logs/{}".format(datetime.datetime.now())
name_logs.replace(" ", "_")

'logs/2018-10-28_18:04:43.753757'

In [25]:
tbCallBack = TensorBoard(log_dir=name_logs)

In [26]:
X_train.shape, y_train.shape

((320, 61050), (320, 2))

In [27]:
# Fitting our model 
classifier.fit(X_train, y_train, epochs=10, validation_split=0.2 , verbose=1, callbacks=[tbCallBack])

Train on 256 samples, validate on 64 samples
Epoch 1/10
256/256 [==============================] - 8s 30ms/step - loss: 1.0476 - acc: 0.4922 - val_loss: 0.7706 - val_acc: 0.5156
Epoch 2/10
256/256 [==============================] - 8s 30ms/step - loss: 0.8009 - acc: 0.5664 - val_loss: 0.5817 - val_acc: 0.7812
Epoch 3/10
256/256 [==============================] - 8s 30ms/step - loss: 0.6072 - acc: 0.6406 - val_loss: 0.8051 - val_acc: 0.4844
Epoch 4/10
256/256 [==============================] - 8s 30ms/step - loss: 0.7062 - acc: 0.5898 - val_loss: 0.9037 - val_acc: 0.4844
Epoch 5/10
256/256 [==============================] - 8s 30ms/step - loss: 0.5943 - acc: 0.6953 - val_loss: 0.5942 - val_acc: 0.5938
Epoch 6/10
256/256 [==============================] - 8s 30ms/step - loss: 0.4659 - acc: 0.7617 - val_loss: 0.5370 - val_acc: 0.5938
Epoch 7/10
256/256 [==============================] - 8s 30ms/step - loss: 0.4342 - acc: 0.7891 - val_loss: 0.5370 - val_acc: 0.5625
Epoch 8/10
256/256 [==============================] - 8s 32ms/step - loss: 0.4134 - acc: 0.8398 - val_loss: 0.4733 - val_acc: 0.7812
Epoch 9/10
256/256 [==============================] - 8s 31ms/step - loss: 0.3763 - acc: 0.8242 - val_loss: 0.4502 - val_acc: 0.8281
Epoch 10/10
256/256 [==============================] - 8s 31ms/step - loss: 0.3669 - acc: 0.8633 - val_loss: 0.4968 - val_acc: 0.7500

In [28]:
keras.utils.print_summary(classifier, line_length=None, positions=None, print_fn=None)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
Input_1 (Dense)              (None, 1024)              62516224
_________________________________________________________________
Hidden_1_tanh (Dense)        (None, 1024)              1049600
_________________________________________________________________
Hiddden_2_relu (Dense)       (None, 128)               131200
_________________________________________________________________
Output_softmax (Dense)       (None, 2)                 258
=================================================================
Total params: 63,697,282
Trainable params: 63,697,282
Non-trainable params: 0
_________________________________________________________________

In [29]:
classifier.evaluate(X_test, y_test)

80/80 [==============================] - 0s 3ms/step

[0.4299091696739197, 0.8125]

In [ ]:
if input(' Reset keras? (y/n) \n') == 'y':
    keras.backend.clear_session()

# Matriz de Confusão
Para fazer a matriz de confusão precisa de 3 arrays:

* X_test que contém os valores dos atributos
* y_pred que contém os valores previstos pela rede (1D)
* y_test que contém os valores reais que se correlacionam com X_test (1D)

Porém o y_pred e o y_test estão no formato de One Hot Encoding, então precisamos convertê-lo para o original

Predizendo os valores a partir de X_test

In [31]:
y_pred = classifier.predict(X_test)

In [32]:
inverted_y_pred = list()
for i in range(len(y_pred)):
    inverted_y_pred.append(int(label_encoder.inverse_transform([np.argmax(y_pred[i])])))
print("inverted len:", len(inverted_y_pred))
print("y_pred: ", y_pred, y_pred.shape)

inverted len: 80
y_pred:  [[0.09919301 0.90080696]
 [0.19236083 0.8076392 ]
 [0.2657934  0.73420656]
 [0.1794155  0.8205845 ]
 [0.9635433  0.0364567 ]
 [0.15722324 0.8427768 ]
 [0.1794155  0.8205845 ]
 [0.19236083 0.8076392 ]
 [0.4690305  0.53096944]
 [0.16345571 0.8365442 ]
 [0.87579244 0.1242076 ]
 [0.09919301 0.90080696]
 [0.9225266  0.07747339]
 [0.87579244 0.1242076 ]
 [0.09919301 0.90080696]
 [0.14621434 0.85378563]
 [0.09919301 0.90080696]
 [0.43368912 0.5663108 ]
 [0.33807003 0.66192997]
 [0.09919301 0.90080696]
 [0.09919301 0.90080696]
 [0.16345571 0.8365442 ]
 [0.20385167 0.7961483 ]
 [0.09919301 0.90080696]
 [0.16345571 0.8365442 ]
 [0.16345571 0.8365442 ]
 [0.09919301 0.90080696]
 [0.9108009  0.08919911]
 [0.09919301 0.90080696]
 [0.09919301 0.90080696]
 [0.10710558 0.8928944 ]
 [0.09919301 0.90080696]
 [0.10710558 0.8928944 ]
 [0.1794155  0.8205845 ]
 [0.91007566 0.08992433]
 [0.2657934  0.73420656]
 [0.90804726 0.09195267]
 [0.1794155  0.8205845 ]
 [0.7821656  0.21783441]
 [0.7515545  0.24844544]
 [0.1794155  0.8205845 ]
 [0.87579244 0.1242076 ]
 [0.1794155  0.8205845 ]
 [0.1794155  0.8205845 ]
 [0.20385167 0.7961483 ]
 [0.2657934  0.73420656]
 [0.7821656  0.21783441]
 [0.16345571 0.8365442 ]
 [0.94587386 0.05412617]
 [0.7821656  0.21783441]
 [0.90804726 0.09195267]
 [0.2657934  0.73420656]
 [0.09919301 0.90080696]
 [0.09919301 0.90080696]
 [0.20385167 0.7961483 ]
 [0.2657934  0.73420656]
 [0.43368912 0.5663108 ]
 [0.2657934  0.73420656]
 [0.8583019  0.14169817]
 [0.1794155  0.8205845 ]
 [0.9635433  0.0364567 ]
 [0.09919301 0.90080696]
 [0.8583019  0.14169817]
 [0.71996886 0.28003114]
 [0.91309667 0.0869034 ]
 [0.87579244 0.1242076 ]
 [0.2657934  0.73420656]
 [0.1794155  0.8205845 ]
 [0.16345571 0.8365442 ]
 [0.09919301 0.90080696]
 [0.7515545  0.24844544]
 [0.91256285 0.0874372 ]
 [0.1794155  0.8205845 ]
 [0.1794155  0.8205845 ]
 [0.09919301 0.90080696]
 [0.1794155  0.8205845 ]
 [0.2657934  0.73420656]
 [0.9465658  0.0534342 ]
 [0.09919301 0.90080696]
 [0.2657934  0.73420656]] (80, 2)

In [33]:
inverted_y_test = list()
for i in range(len(y_test)):
    inverted_y_test.append(int(label_encoder.inverse_transform([np.argmax(y_test[i])])))
print("inverted len:", len(inverted_y_test))
print("y_pred: ", y_test, y_test.shape)

inverted len: 80
y_pred:  [[0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]] (80, 2)

In [34]:
inverted = label_encoder.inverse_transform([np.argmax(y_pred[0, :])]) #onehot_encoded[0, :])])
print("inverted:", inverted)

inverted: [1]

In [35]:
from sklearn.metrics import confusion_matrix

# Sintaxe da função
# sklearn.metrics.confusion_matrix(y_true, y_pred, labels=None, sample_weight=None)
matrix = confusion_matrix(inverted_y_test, inverted_y_pred)
matrix

array([[23, 15],
       [ 0, 42]])

Como utilizamos uma classificação binária, temos que os verdadeiros-negativos é $C_{00}$, falso-negativo é $C_{10}$, verdadeiros-positivos $C_{11}$ e falso-positivos é $C_{01}$.